.Grid {
    display: grid;
    position: relative;
    grid-template-columns: 5vw 160px 3fr 5vw max-content 5vw;
    grid-template-rows: 3.5vw 20vh 2vw minmax(0, min-content) min-content 1fr max-content;
    grid-template-areas: 
        ". . . . . ."
        ". logo res-nav res-nav res-nav ."
        ". . . . . ."
        ". title title . nav ."
        ". main main . nav ."
        ". main main . sideBar ."
        "footer footer footer footer footer footer";
    min-height: 100vh;
}

@media (max-width: 800px) {
    .Grid {
        display: grid;
        grid-template-columns: 5vw minmax(70px, min-content) 3fr 5vw 2fr 10vw;
        grid-template-rows: 5vw 15vh 5vw minmax(0, min-content) min-content minmax(0, max-content) max-content max-content;
        grid-template-areas: 
            ". . . . . ."
            ". logo res-nav res-nav res-nav ."
            ". . . . . ."
            ". title title . . ."
            ". main main main main ."
            ". main main main main ."
            ". sideBar sideBar sideBar sideBar ."
            "footer footer footer footer footer footer";
    }
    
}

@media (max-width: 640px) {
    .Grid {
        display: grid;
        grid-template-columns: 5vw minmax(70px, min-content) 3fr 5vw 2fr 1fr;
        grid-template-rows: 5vw 15vh 5vw minmax(0, min-content)  min-content minmax(0, max-content) max-content max-content;
        grid-template-areas: 
            ". . . . . ."
            ". logo res-nav res-nav res-nav res-nav res-nav "   
            ". . . . . ."
            ". title title . . ."
            ". main main main main ."
            ". main main main main ."
            ". sideBar sideBar sideBar sideBar ."
            "footer footer footer footer footer footer";
    }
    
}  


.enter {
    opacity: 0.01;
}
.enterActive {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.exit {
    left: 50%;
    position: absolute;
    top: 278px;
    transform: translateX(-50%);
    opacity: 1;
}
.exitActive {
    opacity: 0.01;
    transition: opacity 500ms ease-out;
    left: 50%;
    position: absolute;
    top: 278px;
    transform: translateX(-50%);
}