.Subtitle {
    font-size: 2rem;
}
.Title, .Subtitle {
    font-family: 'Lobster Two', cursive;
    margin: 0 0 1rem 0;
    color: rgba(0, 0, 0, 0.8);
}


/* @media (max-width: 640px) {
    .Title {
        font-size: 3.5rem;
    }
}
@media (min-width: 640px) and (max-width: 800px) {
    .Title {
        font-size: 3.5rem;
    }

} */
@media (max-width: 1024px) {
    .Title {
        font-size: 3.5rem;
        margin-bottom: 0;
    }

    .Subtitle {
        font-size:  1.5rem;
    }
}
@media (min-width: 1024px) and (max-width: 1800px) {
    .Title {
        font-size: 4.5rem;
    }
    
}
@media (min-width: 1800px) {
    .Title {
        font-size: 6rem;
    }

    
}


